---

---

<main>
  <slot />
</main>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block-start: 96px;
    padding-inline: 1.5rem;
    text-align: center;
  }
</style>
